@model stripe_api_dependentservices.Entities.Currency
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @foreach (var conversionRate in Model.Conversion_rates)
    { 
<ul>
    <li> @conversionRate.Key </li>
    <li> @conversionRate.Value </li>
</ul>
    }

</div>
