@model stripe_api_dependentservices.Entities.ConversionRates
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Currency Converter</h1>

        @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
        {

            <label for="AmountToBeConverted">Enter the amount to be converted in USD: </label>
            <input type="number" id="AmountToBeConverted" name="AmountToBeConverted" min="1" max="999999">
            <br />
            <div class="currency-dropdown">
                @Html.DropDownList("CodeAndRate", new SelectList(Model.Conversion_rates.Select(rate => $"{rate.Key} - {rate.Value}")), "Select Target Currency")
            </div>
            <br />

            <button type="submit" value="Submit" class="btn btn-primary"> Convert </button>
            <br />
        }
    </div>


