@model stripe_api_dependentservices.Models.FormDataModel

@{
    ViewData["Title"] = "_totalInTargetCurrencyMessage";
}

<h1>_totalInTargetCurrencyMessage</h1>

<h2> That amounts to @Model.FinalAmountInTargetCurrency @Model.TargetCurrencyCode </h2>

